* {
  box-sizing: border-box;
  font-family: 'Inter UI', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  display: grid;
  grid-template-columns: 380px;
  grid-template-rows: 730px 730px repeat(5, 500px) 380px 380px 380px 425px 410px;
}

.background_main {
  background-image: url(images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  align-items: center;
}

.background_main h1 {
  width: 327px;
  height: 192px;
  font-weight: 700px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 12%;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  font-family: 'Inter UI', sans-serif;
}

.background_main p {
  width: 327px;
  height: 164px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-bottom: 11%;
  font-family: 'Inter UI', sans-serif;
}

.row_down {
  height: 6%;
  margin-top: 9%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 10%;
  justify-content: space-around;
  font-weight: bold;
  font-family: 'Inter UI', sans-serif;
}

.taskbar {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
}

.taskbar span {
  flex-grow: 1;
  font-weight: bold;
  margin-left: 10%;
}

.main_section_view {
  width: 90%;
  height: 730px;
  display: flex;
  flex-direction: column;
}

.taskbar img {
  height: 100%;
  width: 5%;
  margin-right: 2%;
}

.menu {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.logo {
  color: #28352f;
  margin-left: 9%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu_img {
  margin-right: 10px;
  margin-right: 6%;
}

.background_main h1 span {
  color: rgb(22, 161, 57);
}

.social_media_icons {
  list-style-type: none;
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin-left: 6%;
  font-family: 'Inter UI', sans-serif;
}

.social_media_icons > * {
  height: 27%;
  margin-right: 6%;
}

/* start middle content */

.welcome_view {
  margin: 0;
  width: 100%;
  height: 100%;
}

.recent_works {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.recent_works_elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.recent_works_element {
  width: 327px;
  height: 474px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  background-color: white;
  flex-wrap: wrap;
}

.works_img {
  width: 100%;
  height: 55%;
  border-radius: 11px;
  background-color: #eef8f3;
}

.title_header {
  width: 327px;
  height: 97px;
  line-height: 52px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Inter UI', sans-serif;
}

.works_buttons {
  padding-left: 0;
  margin-bottom: 7%;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-around;
}

.works_buttons > * {
  list-style: none;
}

.works_title {
  width: 295px;
  height: 57px;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  color: #3a4a42;
  margin-bottom: 3%;
  font-family: 'Inter UI', sans-serif;
}

.tools button {
  height: 32px;
  background-color: #eef8f3;
  color: black;
  border: 0;
  border-radius: 4px;
  padding: 8px, 12px, 8px, 12px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works_buttons li button:active {
  color: red;
}

.works_buttons li button:hover {
  background-color: #b3c2be;
  cursor: pointer;
}

.works_button_action {
  width: 100%;
  height: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.see_project {
  width: 122px;
  height: 48px;
  background-color: #36b37f;
  border-radius: 4px;
  color: white;
  border: 0;
  font-size: 17px;
  text-align: center;
  line-height: 24px;
  font-family: 'Inter UI', sans-serif;
}

.see_project:active {
  color: red;
}

.see_project:hover {
  background-color: rgb(25, 129, 25);
  cursor: pointer;
}

/* languages */

.languages_buttons {
  padding-left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages_main {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
}

.languages_section {
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  background-color: #eef8f3;
  border: 1px solid #ccc;
}

.languages_img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages_description {
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #344563;
  font-family: 'Inter UI', sans-serif;
  margin-top: 1%;
  margin-bottom: 4%;
}

.button_languages {
  height: 40px;
  background-color: white;
  color: #36b37e;
  border: 0;
  border-radius: 4px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
}

.languages_button_action {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-content: start;
}

.languages_buttons > * {
  list-style: none;
  padding: 4px;
}

.languages_buttons li button:active {
  color: red;
}

.languages_buttons li button:hover {
  background-color: rgb(199, 202, 199);
  cursor: pointer;
}

/* frameworks */

.framework_buttons {
  padding-left: 0;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.framework_main {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
}

.framework_section {
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  background-color: #eef8f3;
}

.framework_img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.framework_description {
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #344563;
  font-family: 'Inter UI', sans-serif;
  margin-top: 1%;
  margin-bottom: 4%;
}

.button_frame {
  height: 40px;
  background-color: white;
  color: #36b37e;
  border: 0;
  border-radius: 4px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
}

.framework_button_action {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-content: start;
}

.framework_buttons > * {
  list-style: none;
  padding: 4px;
}

.button_frame:active {
  color: red;
}

.framework_buttons li button:hover {
  background-color: rgb(199, 202, 199);
  cursor: pointer;
}

.framework li button:hover {
  background-color: rgb(199, 202, 199);
}

/* skills */

.skills_buttons {
  padding-left: 0;
  display: flex;
  width: 320px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills_main {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
}

.skills_section {
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  background-color: #eef8f3;
}

.skills_img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_description {
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #344563;
  font-family: 'Inter UI', sans-serif;
  margin-top: 1%;
  margin-bottom: 4%;
}

.button_skills {
  height: 40px;
  background-color: white;
  color: #36b37e;
  border: 0;
  border-radius: 4px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
}

.skills_button_action {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-content: start;
}

.skills_buttons > * {
  list-style: none;
  padding: 4px;
}

.skills_buttons li button:active {
  color: red;
}

.skills_buttons li button:hover {
  background-color: rgb(199, 202, 199);
  cursor: pointer;
}

.skills li button:hover {
  background-color: rgb(199, 202, 199);
}

/* about me */

.about_main {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  background-image: url(images/middle_section/illustration-\ about\ me-\ mobile.svg);
  background-position-x: right;
}

.about_section {
  width: 327px;
  height: 379px;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  justify-content: end;
  align-items: center;
}

.about_button {
  height: 48px;
  width: 156px;
  background-color: #36b37f;
  color: white;
  border: 0;
  border-radius: 4px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  padding: 12px;
  font-size: 17px;
  letter-spacing: 3%;
  margin-top: 2%;
  cursor: pointer;
}

.about_me {
  height: 50px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bolder;
  text-align: center;
  line-height: 52px;
  vertical-align: center;
  color: #172b4d;
}

.about_main p {
  height: 189px;
  font-style: normal;
  font-family: 'Inter UI', sans-serif;
  text-align: center;
  line-height: 32px;
  vertical-align: top;
  font-size: 20px;
  font-weight: 4700;
  color: #42526e;
  margin-top: 0;
}

/* opinion */

.opinion_main {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
}

.opinion_section {
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  line-height: 52px;
}

.opinion_section h2 {
  font-size: 40px;
  line-height: 52px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bolder;
  margin: 0;
  text-align: center;
  color: #172b4d;
}

/* form */

.form_main {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/middle_section/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 52%;
}

.form_section {
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  padding-left: 10px;
}

.textarea::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px; 
  color: #091E42;
}

.form_input,
.form_p textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: 'Inter UI', sans-serif;
  font-weight: bolder;
}

.form_button {
  height: 48px;
  width: 129px;
  background-color: #36b37f;
  color: white;
  border: 0;
  border-radius: 4px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
  font-size: 17px;
  letter-spacing: 3%;
  margin-top: 2%;
}

.form_input {
  width: 100%;
  height: 48px;
  border: 1px solid #ccc;
  margin-top: 5%;
}

.form_section textarea {
  width: 325px;
  height: 114px;
}

/* contact info */

.contact_main {
  width: 100%;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contact_section {
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  line-height: 52px;
  justify-content: start;
  align-items: center;
}

.contact_social_media_icons {
  width: 170.17px;
  list-style-type: none;
  margin: 0;
  margin-top: 12%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter UI', sans-serif;
}

.email {
  width: 375px;
  height: 189px;
  font-family: 'Inter UI', sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
  margin-top: -2px;
  font-weight: bold;
  color: #42526e;
}

svg {
  width: 46%;
  display: flex;
  justify-content: center;
}

svg line {
  width: 100%;
  stroke: black;
  stroke-width: 7;
  color: #e5e5e5;
}
