
/* events */
.scale:hover {
  transform: scale(1.2);
}

.see_project:active {
  color: red;
}

.see_project:hover {
  background-color: rgb(25, 129, 25);
  cursor: pointer;
  transform: scale(1.05);
}

.live:hover {
  transform: scale(1.05);
}

.source:hover {
  transform: scale(1.05);
}

.button_frame:active {
  color: red;
}

.button_framemb:active {
  color: red;
}

.framework_buttons li button:hover {
  background-color: rgb(199, 202, 199);
  cursor: pointer;
}

.framework li button:hover {
  background-color: rgb(199, 202, 199);
}

.see_project:active,
.about_button:hover {
  background-color: #008552;
}

.works_buttons li button:active {
  color: red;
}

.button_framemb:hover,
.button_languages:hover,
.button_frame:hover,
.button_skills:hover {
  background-color: #b3c2be;
  cursor: pointer;
}

.button_work:hover {
  cursor: pointer;
  background-color: #b3c2be;
}
