@import "../node_modules/normalize.css/normalize.css";
@import url(./popupStyle.css);
@import url(./events.css);

@media only screen and (max-width: 767px) {
  * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif !important;
  }

  body {
    margin: 0;
  }
  .quick_acces {
    display: none;
    width: 375px;
    height: 755px;
    background-color: #e2edff;
    border-radius: 0% 0% 10% 9%;
  }

  .header_mobile {
    position: fixed;
    width: 380px;
    background-color: white;
  }

  .ul_quick_acces {
    list-style: none;
    padding: 0;
    background-color: blue;
    border-radius: 0 0 10% 10%;
  }

  .botton_line {
    margin-top: 15%;
  }

  .menu_hamburguer {
    cursor: pointer;
  }

  .close {
    text-align: end;
    font-family: 'Inter UI', sans-serif;
    font-size: 2em;
    margin-right: 8%;
    margin-top: 9%;
    cursor: pointer;
  }

  .portfolio_go,
  .about_go,
  .contact_go {
    font-family: 'Inter UI', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    margin-top: 12%;
    margin-left: 6%;
    cursor: pointer;
    color: #3a4a42;
  }

  .wrap_quick_acces {
    width: 375px;
    height: 810px;
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
  }

  .menu_items,
  .desktop_version {
    display: none;
  }

  html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mobile_version {
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: auto;
  }

  .background_main {
    background-image: url(../images/header-illsutration-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;

    /* height: 90%; */
    display: flex;

    /* flex-direction: column; */
    justify-content: center;

    /* justify-content: space-around; */
    margin: 0;
    align-items: self-start;
    height: 100vh;
  }

  .background_main h1 {
    width: 327px;

    /* height: 192px; */
    font-weight: 700px;
    line-height: 52px;
    margin: 17% 0 0 0;
    margin-bottom: 12%;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    font-family: 'Inter UI', sans-serif;
  }

  .background_main p {
    width: 327px;
    height: 164px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    margin-bottom: 11%;
    font-family: 'Inter UI', sans-serif;
  }

  .taskbar {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .taskbar span {
    flex-grow: 1;
    font-weight: bold;
    margin-left: 10%;
  }

  .main_section_view {
    width: 90%;
    height: 730px;
    display: flex;
    flex-direction: column;
  }

  .taskbar img {
    height: 100%;
    width: 5%;
    margin-right: 2%;
  }

  .menu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    color: #28352f;
    margin-left: 9%;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .menu_img {
    margin-right: 10px;
    margin-right: 6%;
  }

  .background_main h1 span {
    color: rgb(22, 161, 57);
  }

  .social_media_icons {
    list-style-type: none;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;

    /* margin-left: 6%; */
    align-items: self-end;
    gap: 8%;
    font-family: 'Inter UI', sans-serif;
  }

  .social_media_icons > * {
    height: 27%;
  }

  /* start middle content */

  .welcome_view {
    margin: 0;
    width: 100%;
    margin-top: 13%;
    height: 100%;
  }

  .recent_works {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: auto;
    gap: 40px;
    align-items: center;
  }

  .recent_works_elements {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .recent_works_element {
    width: 327px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: white;
    flex-wrap: wrap;
  }

  .works_img {
    width: 100%;
    border-radius: 11px;
    background-color: #eef8f3;
  }

  .title_header {
    width: 327px;
    line-height: 52px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Inter UI', sans-serif;
  }

  .works_buttons {
    padding-left: 0;
    width: 100%;

    /* height: 32px; */
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }

  .works_buttons > * {
    list-style: none;
  }

  .works_title {
    width: 295px;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    color: #3a4a42;
    margin-bottom: 3%;
    font-family: 'Inter UI', sans-serif;
  }

  .works_buttons li button:active {
    color: red;
  }

  .works_buttons li button:hover {
    background-color: #b3c2be;
    cursor: pointer;
  }

  .works_button_action {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 5%;
  }

  .see_project {
    width: 122px;
    height: 48px;
    background-color: #36b37f;
    border-radius: 4px;
    color: white;
    border: 0;
    font-size: 17px;
    text-align: center;
    line-height: 24px;
    font-family: 'Inter UI', sans-serif;
    margin: 3% 0 4% 0;
  }

  /* languages */

  .languages_buttons {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .skills_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .languages_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .languages_img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .languages_description {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    color: #344563;
    font-family: 'Inter UI', sans-serif;
    margin-top: 1%;
    margin-bottom: 4%;
  }

  .button_languages {
    height: 40px;
    background-color: white;
    color: #36b37e;
    border: 0;
    border-radius: 4px;
    font-family: 'Inter UI', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
  }

  .languages_button_action {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: start;
  }

  .languages_buttons > * {
    list-style: none;
    padding: 4px;
  }

  .languages_buttons li button:active {
    color: red;
  }

  .languages_buttons li button:hover {
    background-color: rgb(199, 202, 199);
    cursor: pointer;
  }

  /* frameworks */

  .framework_buttons {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .framework_main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .skills_section,
  .languages_section,
  .framework_section {
    width: 327px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    background-color: #eef8f3;
  }

  .framework_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .framework_description {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    color: #344563;
    font-family: 'Inter UI', sans-serif;
    margin-top: 1%;
    margin-bottom: 4%;
  }

  .framework_button_action {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-content: start;
  }

  .framework_buttons > * {
    list-style: none;
    padding: 4px;
  }


  /* skills */
  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 15%;
  }

  .skills_buttons {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .skills_section {
    width: 327px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    background-color: #eef8f3;
  }

  .skills_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills_description {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    color: #344563;
    font-family: 'Inter UI', sans-serif;
    margin-top: 1%;
    margin-bottom: 4%;
  }

  .button_skills {
    height: 40px;
    background-color: white;
    color: #36b37e;
    border: 0;
    border-radius: 4px;
    font-family: 'Inter UI', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
  }

  .skills_button_action {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-content: start;
  }

  .skills_buttons > * {
    list-style: none;
    padding: 4px;
  }

  .skills_buttons li button:active {
    color: red;
  }

  .skills_buttons li button:hover {
    background-color: rgb(199, 202, 199);
    cursor: pointer;
  }

  .skills li button:hover {
    background-color: rgb(199, 202, 199);
  }

  /* about me */

  .about_main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../images/middle_section/illustration-\ about\ me-\ mobile.svg);
    background-repeat: no-repeat;
    background-position: center -2%;
    padding-top: 10%;
  }

  .about_section {
    width: 327px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    justify-content: end;
    align-items: center;
    margin-bottom: 30%;
  }

  .about_button {
    width: 156px;
    background-color: #36b37f;
    color: white;
    border: 0;
    border-radius: 4px;
    font-family: 'Inter UI', sans-serif;
    font-weight: bold;
    padding: 12px;
    font-size: 17px;
    letter-spacing: 3%;
    margin-top: 2%;
    cursor: pointer;
  }

  .about_me {
    height: 50px;
    font-family: 'Inter UI', sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 52px;
    vertical-align: center;
    color: #172b4d;
  }

  .about_main p {
    height: 189px;
    font-style: normal;
    font-family: 'Inter UI', sans-serif;
    text-align: center;
    line-height: 32px;
    vertical-align: top;
    font-size: 20px;
    font-weight: 4700;
    color: #42526e;
    margin-top: 0;
  }

  /* opinion */

  .opinion_main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .opinion_section {
    width: 327px;
    padding-top: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    line-height: 52px;
  }

  .opinion_section h2 {
    font-size: 40px;
    line-height: 52px;
    font-family: 'Inter UI', sans-serif;
    font-weight: bolder;
    margin: 0;
    text-align: center;
    color: #172b4d;
  }

  /* form */

  .form_main {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/middle_section/illustration-contact-form.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 52%;
  }

  .form_section {
    width: 327px;
    height: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_input::placeholder {
    font-family: "Inter", sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    padding-left: 10px;
  }

  .form_button_li {
    display: flex;
    justify-content: center;
  }

  .textarea::placeholder {
    font-family: "Inter", sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
  }

  .textarea:hover {
    border: 2px solid green;
  }

  .form_input,
  .form_p textarea {
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: 'Inter UI', sans-serif;
    font-weight: bolder;
  }

  .form_button {
    height: 48px;
    width: 129px;
    background-color: #36b37f;
    color: white;
    border: 0;
    border-radius: 4px;
    font-family: 'Inter UI', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
    font-size: 17px;
    letter-spacing: 3%;
    margin-top: 2%;
  }

  .form_input {
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    margin-top: 5%;
  }

  .form_section textarea {
    width: 325px;
    height: 114px;
  }

  /* contact info */

  .contact_main {
    width: 100%;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .contact_section {
    width: 327px;
    height: 352px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    line-height: 52px;
    justify-content: start;
    align-items: center;
  }

  .contact_social_media_icons {
    width: 170.17px;
    list-style-type: none;
    margin: 0;
    margin-top: 12%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter UI', sans-serif;
  }

  .email {
    width: 375px;
    height: 189px;
    font-family: 'Inter UI', sans-serif;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    vertical-align: top;
    margin-top: -2px;
    font-weight: bold;
    color: #42526e;
  }

  svg {
    width: 46%;
    display: flex;
    justify-content: center;
  }

  svg line {
    width: 100%;
    stroke: black;
    stroke-width: 7;
    color: #e5e5e5;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .error {
    width: 100%;
    color: red;
    font-family: sans-serif;
    font-size: 0.8em;
    display: none;
    margin-top: 5px;
  }

  .todolist {
    width: 100%;
  }

  .wrap_desktop_mob {
    height: 100%;
  }

  #works_start {
    margin-bottom: 20%;
  }

  .mob_img {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .button_framemb {
    height: 40px;
    background-color: white;
    color: #36b37e;
    border: 0;
    border-radius: 4px;
    font-family: 'Inter UI', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  .textm {
    padding: 0 5% 0 5%;
    font-weight: 600;
    color: #5f6361;
    line-height: 20px;
    font-family: "Inter", sans-serif !important; 
  }
}

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif !important;
  }

  body {
    width: 100%;
    margin: 0;
  }

  html {
    width: 100%;
    display: flex;
    justify-content: center;
    scroll-padding-top: 72px;
  }

  .mobile_version {
    display: none;
  }

  .quick_acces {
    display: none;
  }

  .desktop_version {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 2%;
  }

  .background_main {
    background-image: url(../images/desktop_version/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    height: 88vh;
    display: flex;
    margin: 72px 0 0 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
  }

  .menu {
    display: none;
  }

  .menu_items {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
  }

  .desktop_header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: white;
    box-shadow: 0 15px 10px -15px green;
  }

  .desktop_header ul > * {
    list-style: none;
    height: 40px;
    padding: 10px 12px 0 0;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
  }

  .desktop_header ul {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin: 0;
    padding: 0;
  }

  .wrap_desktop {
    width: 50vh;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .social_media_icons {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: center;
    margin: 0;
    padding: 9% 0 0 0;
  }

  .introduction {
    display: flex;
    justify-content: center;
    font-weight: 800;
    flex-wrap: wrap;
    font-size: 2em;
    line-height: 60px;
    text-align: center;
    width: 100%;
    letter-spacing: 0.37px;
    color: #172b4d;
    color: normal;
    flex-grow: 0;
    margin: 0;
  }

  .introduction h1 span {
    color: #36b37e;
  }

  .content_introduction {
    width: 100%;
    font-family: "Inter", sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
    flex: none;
    margin: 0;
    margin-top: 24px;
    flex-grow: 0;
  }

  .menu_items ul li a {
    text-decoration: none;
  }

  .recent_jobs_group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    justify-self: center;
  }

  .recent_works {
    width: 369px;
    display: flex;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    min-height: 500px;
    border-radius: 8px;
    margin: 2% 1.5% 2% 1.5%;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
  }

  #portofolio_section {
    width: 100%;
  }

  .title_header {
    width: 100%;
    height: 48px;
    font-family: "Inter", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #172b4d;
  }

  .works_img {
    width: 100%;
    height: 252px;
    border-radius: 11px;
    background-color: #eef8f3;
  }

  .works_button_action {
    background-color: white;
    width: 369px;
    border-radius: 8px;
    gap: 16px;
    padding: 1% 0 1% 0;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .works_title {
    width: 337px;
    height: 57px;
    font-family: "Inter", sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin: 0;
    justify-content: center;
  }

  .works_buttons {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex: none;
    flex-grow: 0;
    list-style: none;
    margin: 0%;
    justify-content: center;
  }

  .see_project {
    flex-direction: row;
    padding: 12px;
    gap: 10px;
    width: 122px;
    height: 48px;
    left: 108px;
    bottom: 8px;
    background: #36b37f;
    border-style: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: #fff;
    flex-grow: 0;
    margin-bottom: 3%;
  }

  .lenguajes_desktop {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    gap: 48px;
    flex-wrap: wrap;
    margin: 0;
    justify-self: center;
  }

  .skills_section {
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    width: 358px;
    margin-top: 3%;
  }

  .languages_description,
  .framework_description,
  .skills_description {
    height: 32px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin: 0;
  }

  .languages_button_action,
  .framework_button_action,
  .skills_button_action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* height: 58%; */
    gap: 25px;

    /* margin-top: 10%; */
    margin: 0% 0 6% 0;
  }

  .languages_buttons,
  .skills_buttons,
  .framework_buttons {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;
    width: 90%;

    /* height: 50%; */
    flex-wrap: wrap;

    /* margin-top: 13px; */
  }

  .languages_img,
  .framework_img,
  .skills_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .about_section {
    background-image:
      url(../images/desktop_version/Group.svg),
      url(../images/desktop_version/illustration-about-me-2-desktop.svg);
    background-size: 10%, 20%;
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 100%;
  }

  .about_me {
    width: 447px;
    height: 48px;
    font-family: "Inter", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin: 0;
    justify-content: center;
  }

  .content {
    width: 50%;
    font-family: "Inter", sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin: 0;
  }

  .about_button {
    padding: 12px;
    gap: 10px;
    width: 159px;
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #fff;
    border-style: none;
  }

  .logo_about_rigth {
    margin: -130% 0 1217.22px  1294px;
  }

  .logo_about_left {
    margin: -117% 1204.58px 1224.18px 0;
  }

  .contenedor_imagen {
    max-height: 265px;
    min-height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about_main {
    background-image:
      url(../images/desktop_version/illustration-1-contact-form-desktop.svg),
      url(../images/desktop_version/illustration-2-contact-form-desktop.svg),
      url(../images/desktop_version/Frame.svg);
    background-position: left bottom, 20% bottom, right bottom;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 80vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    align-items: center;
  }

  .opinion_main {
    width: 463px;
    height: 256px;
    font-family: "Inter", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #172b4d;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 684px;
    height: 330px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .form_input {
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 330px;
    height: 48px;
  }

  .textarea {
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 684px;
    height: 114px;
  }

  .form_section_ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 684px;
    height: 330px;
  }

  .form_main {
    width: 684px;
    height: 330px;
  }

  .form_input_adress {
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 684px;
    height: 48px;
  }

  .form_button {
    flex-direction: row;
    padding: 12px;
    gap: 10px;
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    flex: none;
    border-style: none;
    flex-grow: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .opinion_me {
    padding: 0;
    gap: 24px;
    width: 463px;
    height: 256px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    justify-content: center;
    order: 0;
    flex-grow: 0;
  }

  .contact_social_media_icons {
    list-style-type: none;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-self: center;
  }

  .contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .divisor {
    height: 1px;
    width: 96%;
  }

  .rock {
    margin: -9% 0% 0% 23%;
  }

  .cube {
    margin: -32% 0% 0% 0%;
  }

  .vertical_rectangle {
    margin-left: auto;
    margin-top: -40%;
  }

  .bird {
    margin: -128% 0% 0% 85.9%;
    width: 14%;
  }

  .boat {
    margin: -115% 0% 0% 0%;
    width: 11%;
  }

  .span {
    color: #36b37e;
  }

  .errorD {
    width: 100%;
    color: red;
    font-family: sans-serif;
    font-size: 0.8em;
    display: none;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .todolist {
    width: 100%;
    height: 256px;
  }

  .skills_main {
    height: 28%;
    width: 62%;
  }

  .last_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skills_img_last {
    margin: 0;
  }

  .textd {
    padding: 0 5% 0 5%;
    font-weight: 500;
    color: #5f6361;
    font-family: "Inter", sans-serif !important;
  }
}



/* general styles */
.tools button {
  height: 32px;
  background-color: #eef8f3;
  color: #5f6361;
  border: 0;
  border-radius: 4px;
  padding: 8px, 12px, 8px, 12px;
  font-family: 'Inter UI', sans-serif;
  font-weight: 600;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.button_frame {
  height: 40px;
  background-color: white;
  color: #36b37e;
  border: 0;
  border-radius: 4px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
}

a {
  text-decoration: none;
  color: #4d8874;
  font-weight: 600;
}

p {
  text-align: justify;
}
